page-login {
    .login-overlay {
        position: absolute;
        background: #2e2e2e;
        height: 100%;
        width: 100%;
        opacity: .4;
        z-index: 1;
    }
    .login {
        // background-size: cover;
        // background-position: center center;
        background-color: $background-color;

        svg {
            display: block;
            width: 80%;
            height: 20vh;
            margin: 3rem auto 0;
            fill: $background-color;
        }

        ion-list {
            position: relative;
            top: 10vh;
        }

        ion-item {
            background: rgba(255,255,255,0.3);
            color: $text-color;

            input {
            &::-webkit-input-placeholder {
                color: lighten($secondary-color, 10%);
            }
            }
        }

        .button {
            display: block;
            margin: auto;
            position: relative;
            top: 10vh;
            cursor: pointer;
        }
    }
}
