// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #fff;
$background-color:  #84CAE7;
$secondary-color:   darken($background-color, 10%);
$good-color:        #02B875;
$error-color:       #ed7669;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #fff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$item-ios-paragraph-text-color: $text-color;
$card-ios-text-color: $text-color;
$toolbar-ios-background: $secondary-color;
$toolbar-ios-border-color: $secondary-color;
$tabs-ios-tab-color: lighten($background-color, 10%);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$item-md-paragraph-text-color: $text-color;
$card-md-text-color: $text-color;
$toolbar-md-background: $secondary-color;
$toolbar-md-border-color: $secondary-color;
$tabs-md-tab-color: lighten($background-color, 10%);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$item-wp-paragraph-text-color: $text-color;
$card-wp-text-color: $text-color;
$toolbar-wp-background: $secondary-color;
$toolbar-wp-border-color: $secondary-color;
$tabs-wp-tab-color: lighten($background-color, 10%);
$text-input-wp-border-color: darken($background-color, 5%);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
